<?xml version="1.0" encoding="UTF-8"?>
<escenic version="2.0" xmlns="http://xmlns.escenic.com/2009/import">
    <section-page source="ece-auto-gen" sourceid="07fdae1a-c90c-43c7-b37b-0ec38281d44d" unique-name="config" name="Config" layout-name="config" action="remove">
        <area name="outer"/>
        <area name="header"/>
        <area name="top"/>
        <area name="main"/>
        <area name="aside"/>
        <area name="bottom"/>
        <area name="footer"/>
    </section-page>
</escenic>
